
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Admin</title>
</head>
<body>
  <h1>Bem-vindo, <%= user.nome %> (Admin)</h1>
  <p>Você tem acesso completo ao sistema. PARA ADM</p>
</body>
</html>
